.distill-site-nav {
  color: #DD8080;
  background-color: #DD8080;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: white;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: white;
}

.distill-site-header {
}

.distill-site-footer {
}
ul > li::marker {
  font-size: 1.125em;
  color:#DD8080 ;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
/* Change link appearance */
d-article a {
  border-bottom: 2px solid #DD8080;
  text-decoration: none;
}

