.distill-site-nav {
  color: red;
  background-color: #b9f6ff;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: white;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
